@tailwind base;
@tailwind components; 
@tailwind utilities;


.menuShape{
  clip-path: polygon(15% 0%,100% 0%,85% 100%, 0% 100%);
}
.navShape{
  clip-path: polygon(50% 0%,100% 0, 100% 100%, 0 60%, 0 0);
}
.imgShapeLeft{
  clip-path: polygon(0% 0%,90% 0%,75% 100%,0% 100%);
}
.imgShapeRight{
  clip-path: polygon(0% 0%,100% 0%,100% 100%,25% 100%);
} 
.imgShapeMobile{
  clip-path:  polygon(0 0,100% 0,100% 100%,0 90%);
}